@font-face
{
font-family: Battersea;
src: url(../resources/afbattersea.ttf);
}



*{
-webkit-box-sizing:border-box;
/* Safari/Chrome, other WebKit */
-moz-box-sizing:border-box;
/* Firefox, other Gecko */
box-sizing:border-box;
/* Opera/IE 8+ */
:;
}
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
display:block;
}
body{
overflow:visible!important;
background-color:white;
line-height:1;
font: 1.2rem Battersea, sans-serif;
position: absolute;
}
ol, ul{
list-style:none;
}
blockquote, q{
quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
content:'';
content:none;
}
table{
border-collapse:collapse;
border-spacing:0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
display:block;
}
body{

}
.wrapper{
width:100%;
}
a{
text-decoration:none;
color:inherit;
}
/* Header
-----------------------------------------------------------------------------*/
header{
color:black;
display:table;
padding:.9rem;
padding-right:9rem;
padding-top:3rem;
cursor:pointer;
text-align:left;
float:right;
clear:both;
margin-right: 4rem;
}
.headWrap{

color:black;
font-size:1.8rem;
margin:0 auto;
width:60%;
text-align:center;
padding-top:30vh;
}

/* Aside 
-----------------------------------------------------------------------------*/
.scroll{
position:fixed;
z-index: 1000;
right:5rem;
top:20%;
height:auto;
width:auto;
line-height: 3rem;
cursor: pointer;
}
.scrollBox{
text-align:right;
}
.scrollBox:hover{
  color:red;
}
.scrollBoxClicked{
 color:red;
}
#logo{
position:fixed;
right: 0;
top:0;
height:20vh;
width:auto;
z-index: 1001;
}
/* Middle
-----------------------------------------------------------------------------*/
body{
}
nav{
-webkit-font-smoothing:antialiased;
display:table-cell;
vertical-align:middle;
}

section
{
  position:relative;
}


.intro{

height:100vh;
width:100%;
max-height:1200px;
}
.headWrap span{
font-size:1.4rem;
}
.headWrap{
  font-size: 5rem;
}
.mainContent{
/*box-shadow*/
-webkit-box-shadow:1px 1px 40px grey;
   -moz-box-shadow:1px 1px 40px grey;
        box-shadow:1px 1px 40px grey;
max-width:1600px;
margin:0 auto;
}
.mainWrap{
margin:0 auto;
vertical-align:middle;
text-align:center;
padding:10vh;
width:80%;
display:table-cell;
}
.mainWrap>img{
float:right;
width:30%;
height:auto;
margin:0 10vh;
display:inline-block;
}
.mainWrap article{
text-align:left;
}
.clear{
clear:left;
}
.mainWrap img{
max-width:100% !important;
height:auto;
display:block;
}
.mainWrap article{
width:70%;
padding:5vh;
padding-left:10%;
}
.mainWrap h2{
padding-bottom:10vh;
font-size:2rem;
font-weight:bold;
}
.tableWrap{
max-height:90%;
width:60%;
margin:0 auto;
}
.contentElement{
width:100%;
height:100vh;
display:table;
}
.graphicElement{
width:30%;
vertical-align:top;
display:inline-block;
padding:.9rem;
}
.graphicElement img{
display:block;
margin:0 auto;
padding:.2rem;
padding-bottom:5vh;
}
.graphicElement span{
magrin:0 auto;
padding:.1rem;
}
.boxElement{
vertical-align:top;
margin:2vh 0 0 0;
padding:3vh;
width:49%;
display:inline-block;
background-color:black;
}
.boxElement h1{
padding:3vh;
font-size:1.2rem;
font-weight:bold;
}
.boxElement li{
padding:1vh 2vh;
}
.boxElement:nth-child(4){
float:right;
}
.boxElement:nth-child(3){
float:left;
}
#topBox{
width:100%;
}
#topBox li{
width:30%;
display:inline-block;
}
.contentElement:nth-child(3n+2){
background-color:white;
}
.contentElement:nth-child(3n+3){
background-color:#EDECE8;
}
.contentElement:nth-child(3n+1){
background-color:#8DBCE3;
}
.slide{
margin:0 auto;
height:80vh;
width:80%;
background-color: green;
position:absolute;



}

/*TEST*/

body {
    padding: 0px;    
}

#container {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;  
    text-align: center;

}
.box{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;


}

/* Footer
-----------------------------------------------------------------------------*/
footer{
}
